@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@100&family=Zen+Antique+Soft&display=swap');

content{
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

home-grid {
    text-align: center;
    display: grid;
    
}